<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Browser1" value="ie" />
    <add key="Browser2" value="" />
    <add key="Browser3" value="" />
    <add key="Server" value="http://myd-vm07460" />
    <add key="Port" value="8080" />
    <add key="MyPC_Url_prefix" value="/qcbin/loadtest/" />
    <add key="UserName" value="sa" />
    <add key="UserPassword" value="" />
    <add key="DomainName" value="OLEG" />
    <add key="ProjectName" value="Oleg" />    
  </appSettings>
</configuration>