<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <add key="Browser1" value="Chrome" />
    <!--add key="Browser2" value="Firefox" /-->
    <add key="Browser3" value="IE" />
  </appSettings>
<specFlow><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>